{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}Поиск{% endblock %}
{% block content %}
    {% if query %}
        <h1> Посты содержащие "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
                Найденных {{ total_results }} результатов{{ total_results|pluralize }}
            {% endwith %}
        </h3>
        {% for post in results %}
            <h4>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </h4>
            {{ post.body|markdown|truncatewords_html:12 }}
        {% empty %}
            <p>По вашему запросу нет результатов.</p>
        {% endfor %}
        <p><a href="{% url "blog:post_search" %}">Искать снова</a></p>
    {% else %}
        <h1>Поиск сообщений</h1>
        <form method="get">
            {{ form.as_p }}
            <input type="submit" value="Поиск">
        </form>
    {% endif %}
{% endblock %}